<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
</configSections>
<log4net debug="true">
  <appender name="ErrorLogToFile" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="App_Data/" />
    <datePattern value="'ReadifyWebS_Error - 'dd.MM.yyyy'.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <ConversionPattern value="---------------------------%-5p(%d{dd-MM-yyyy HH:mm:ss})-----------------------------------------------------------                            %nAdditional Info: %m %nMethod Name: %method                             %nFile Name: %type %nLine: %line %nException Details : " />
    </layout>
  </appender>
  <appender name="InfoLogToFile" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="App_Data/" />
    <datePattern value="'ReadifyWebS_Info - 'dd.MM.yyyy'.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <ConversionPattern value="---------------------------%-5p(%d{dd-MM-yyyy HH:mm:ss})-----------------------------------------------------------                            %nAdditional Info: %m %nMethod Name: %method                             %nFile Name: %type %nLine: %line %n" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
  </root>
  <logger name="ErrorLog">
    <level value="ERROR" />
    <appender-ref ref="ErrorLogToFile" />
  </logger>
  <logger name="InfoLog">
    <level value="INFO" />
    <appender-ref ref="InfoLogToFile" />
  </logger>
</log4net>

</configuration>
